# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven / Backend
backend/target/
*.class
*.jar
*.war
*.ear
backend/.flattened-pom.xml

# IDEs e Editores
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Sistema Operacional
Thumbs.db
Desktop.ini
.DS_Store

# Temporários e Logs
*.log
*.tmp
*.zip

# Builds e Executaveis
dist-app/
backend/src/main/resources/static/
aulas-db.json
